dotenv
fastapi[standard-no-fastapi-cloud-cli]
Flask
google-genai
Jinja2
openai
pdf2image
Pillow
pwdlib[argon2]
python-multipart
pydantic
pydantic[email]
pydantic_settings
PyJWT
slowapi
sqlalchemy
uvicorn
